/*
 * APP STYLE (AUTHENTICATIONS)
 */
.authentication body {
	 background-color: #FFFFFF;
}

.body-sign .card-sign .card-body {
	border: none;
	border-radius: 8px;
	padding-top: 55px;
	padding-bottom: 55px;
	box-shadow: 0 8px 60px 0 rgba(103,151,255,.11), 0 12px 90px 0 rgba(103,151,255,.11);
}

/*
 * APP STYLE (GENERAL)
 */
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3px;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

i.icon {
	margin-right: 5px;
}

.btn-google {
	background-color: #D2322D;
	color: #FFFFFF;
}

.btn-google:hover {
	background-color: #D9514D;
	color: #FFFFFF;
}

.btn-google:focus,
.btn-google:active {
	background-color: #BD2130;
	color: #FFFFFF;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
	border: none !important;
	box-shadow: none !important;
}

.btn.btn-primary {
	box-shadow: none;
	background-color: #33BBFF;
	border-radius: 3px;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
	background-color: #5249A3 !important;
	box-shadow: none;
}

.form-control {
	border: 2px solid #F0F2F4;
	background-color: #F0F2F4;
	box-shadow: none !important;
}

.form-control:hover {
	border-color: #33BBFF;
}

.checkbox-custom label:before {
	border: none;
	background-color: #F0F2F4;
}

html.clean-design:not(.dark) body {
	background-color: #F9F9FC;
}

html.clean-design:not(.dark) .header {
	background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
    box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
}

html.clean-design:not(.dark) .userbox.show .dropdown-menu {
	box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
}

.userbox .name {
    line-height: 1.6rem;
}

.userbox i.icon.custom-arrow-down {
    margin-top: 13px;
    position: relative;
    display: block;
    float: right;
    color: #777;
    margin-right: 0;
}

html.clean-design:not(.dark) .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

html.clean-design:not(.dark) .sidebar-left .sidebar-header .sidebar-toggle {
	background: #FFFFFF;
}

html.clean-design:not(.dark) .page-header {
	border-left-color: #FFFFFF;
	background: #FFFFFF;
	box-shadow: 1px 2px 0 1px #FFFFFF;
}

html.clean-design:not(.dark) .sidebar-left .nano {
	box-shadow: -5px 0 0 #FFFFFF inset !important;
}

html.clean-design:not(.dark) ul.nav-main {
	margin-right: 0;
}

html.clean-design:not(.dark) ul.nav-main > li > a {
    font-size: 0.8rem;
}

html.clean-design:not(.dark) ul.nav-main > li.nav-active > a {
	background-image: linear-gradient(
		90deg,
		#30BFD8, #5249A3
	);
	color: #FFFFFF !important;
}

html.clean-design:not(.dark) .page-header h2 {
	border: none;
}

html.clean-design:not(.dark) ul.nav-main li i.icons {
	margin-right: 15px;
}

html.clean-design:not(.dark) .card {
	border-radius: 8px;
	box-shadow: 0 8px 30px 0 rgba(103,151,255,.10), 0 12px 60px 0 rgba(103,151,255,.10);
}

html.clean-design:not(.dark) .card-body {
	box-shadow: none;
	border: none;
	background: #FFFFFF;
}

html.clean-design:not(.dark) .card-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F1F1F1;
    font-weight: 700;
    color: #00C9DF;
    border-radius: 8px 8px 0 0;
}

html.clean-design:not(.dark) .card-header + .card-body {
    border-radius: 0 0 8px 8px;
}

html.clean-design.sidebar-light:not(.dark) ul.nav-main li .nav-children {
    box-shadow: none;
}

@media only screen and (min-width: 768px) {
    html.clean-design .sidebar-left {
        width: 250px;
        font-size: 0.75rem;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    }
}

html.clean-design:not(.dark) ul.nav-main li .nav-children {
    background: #f9f9fc;
    box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.1) inset;
}

html.clean-design:not(.dark) hr.divider {
    background: none;
    border-top: 1px solid #F1F1F1;
}

html.clean-design .page-header {
    display: none;
}

@media only screen and (min-width: 768px) {
    html.clean-design.fixed .inner-wrapper {
        padding-top: 60px;
    }

    html.clean-design .header .logo {
        float: left;
        margin: -3px 0 0 15px;
    }
    
    html.clean-design .userbox {
        display: inline-block;
        margin: 9px 50px 0 0;
        position: relative;
        vertical-align: middle;
    }
}

html.clean-design .form-control:disabled, 
html.clean-design .form-control[readonly] {
    background-color: #F0F2F4;
    color: #999999;
}

html.clean-design .form-control:disabled:hover, 
html.clean-design .form-control[readonly]:hover {
    border-color: #DDDDDD;
}

#nprogress .bar {
    height: 3px;
    background-image:
        linear-gradient(
            90deg,
            #30BFD8, #5249A3
        );
}

#nprogress .peg {
    box-shadow: 0 0 10px 1px #5249A3, 0 0 5px #5249A3;
}

#nprogress .spinner {
    left: calc(50% - 9px);
    top: 22px;
}

.input-group .input-group-addon {
    border: none;
    background: #F0F2F4;
    padding: 10px 16px;
    color: #777;
}

.input-group .input-group-addon i {
    color: #777777;
    margin: 0;
}

.scroll-to-top i.icon {
    margin-right: 0;
}

html .scroll-to-top {
    opacity: 0;
    border-radius: 3px 3px 0 0;
}

html .scroll-to-top.visible { 
    border-radius: 3px 3px 0 0;
    opacity: 1;
}

html .scroll-to-top,
html .scroll-to-top.visible:hover,
html .scroll-to-top.visible:focus,
html .scroll-to-top.visible:active {
    background-color: #33BBFF;
    color: #FFFFFF;
}

.display-none {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    header.header {
        margin-bottom: 1rem;
    }
}

/*
 * CUSTOMIZE SELECT2
 */
.select2-container--bootstrap .select2-selection--single {
    background: #F0F2F4;
    border-color: #F0F2F4;
    box-shadow: none;
    border: 2px solid #F0F2F4;
    height: 41px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select2-container--bootstrap .select2-selection--single:hover {
	border: 2px solid #33BBFF;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
	box-shadow: none;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: none;
}

.select2-container--bootstrap .select2-dropdown {
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
    margin-top: -41px;
}

.select2-container--bootstrap .select2-dropdown--above {
	margin-top: -10px;
}

.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-color: #33BBFF;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #33BBFF;
}

.select2-container--bootstrap .select2-results__option {
    padding: 10px 12px;
}

.modal-block .select2-container {
    width: 100% !important;
}

.select2-container--bootstrap.select2-container--open {
    z-index: 1019;
}

/*
 * CUSTOMIZE FILE UPLOAD
 */
.fileupload .uneditable-input {
    height: 41px;
    background: #F0F2F4;
    border: 2px solid #F0F2F4;
    border-radius: .25rem 0 0 .25rem;
}

.fileupload .uneditable-input:hover {
	border: 2px solid #F0F2F4;
}

.fileupload .btn {
    line-height: 25px;
    background: #5249A3;
    height: 41px;
    color: #FFFFFF;
    border-radius: 0 .25rem .25rem 0 !important;
    margin-left: -6px;
    font-size: 13px;
}

.fileupload .uneditable-input .fileupload-preview {
    line-height: 24px;
}

.fileupload .uneditable-input {
    width: calc(100% - 97px);
}

.fileupload.fileupload-exists .uneditable-input {
    width: calc(100% - 143px);
    padding-left: 16px;
}

.fileupload .uneditable-input .fa {
    position: absolute;
    top: 14px;
    left: 30px;
}

/*
 * CUSTOMIZE DATE & TIME PICKER
 */
.bootstrap-timepicker-widget.dropdown-menu.open,
.datepicker-dropdown {
    border: none;
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
}

.bootstrap-timepicker-widget.dropdown-menu:before,
.datepicker-dropdown:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.datepicker table tr td.active.active:hover,
.datepicker table tbody tr td.day.active {
    background: #5249A3;
}

.datepicker table tbody tr td.day:hover {
    background: #33BBFF;
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:before,
.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(0, 0, 0, 0);
}

.datepicker .datepicker-switch:hover, 
.datepicker .prev:hover, 
.datepicker .next:hover {
    background: #33BBFF;
}

.bootstrap-timepicker-widget table td a:hover {
    background-color: #F0F2F4;
    border-color: #F0F2F4;
}

.bootstrap-timepicker-widget table td span {
    width: 100%;
    color: #C1C1C1;
}

.bootstrap-timepicker-widget.dropdown-menu.open {
    margin-top: -3px;
}

/*
 * CUSTOMIZE DATATABLES
 */
.table-sm td, .table-sm th {
    padding: .5rem .3rem;
}

table.dataTable.table-sm .sorting:after, 
table.dataTable.table-sm .sorting_asc:after, 
table.dataTable.table-sm .sorting_desc:after,
table.dataTable.table-sm .sorting:before, 
table.dataTable.table-sm .sorting_asc:before, 
table.dataTable.table-sm .sorting_desc:before {
    top: 7px;
}

.table thead th {
    border-bottom: 1px solid #E9ECEF !important;
}

.table-business-categories {
    min-width: 596px;
}

.table-member {
    min-width: 900px;
}

.dataTables_paginate .pagination > .active > a:hover,
.dataTables_paginate .pagination > .active > a:focus,
.dataTables_paginate .pagination > .active > a:active {
    background: #5249A3 !important;
    box-shadow: none !important;
    border: 1px solid #5249A3 !important;
    outline: none !important;
}

.dataTables_paginate .page-item.disabled .page-link {
    border-color: #FFFFFF;
}

/*
 * CUSTOMIZE MODAL
 */
.modal-block .card-body {
    padding: 50px 35px;
    border-radius: 25px;
}

/*
 * CUSTOMIZE ALERT
 */
.alert-success {
    border-color: #d4edda;
}

.alert-danger {
    border-color: #f8d7da;
}

.alert-default {
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    color: #999999;
}

.alert i.icon {
    margin-right: 0;
}

.alert [type="button"]:focus,
.alert [type="button"]:active {
    outline: none !important;
    box-shadow: none !important;
}

/*
 * CUSTOMIZE TAB
 */
html.clean-design:not(.dark) .tab-content {
    border-radius: 8px;
    border: none;
    padding: 1.25rem;
    box-shadow: 0 8px 30px 0 rgba(103,151,255,.10), 0 12px 60px 0 rgba(103,151,255,.10);
}

html.clean-design:not(.dark) .nav-tabs {
    border: none;
    margin-bottom: 20px;
}

html.clean-design:not(.dark) .nav-tabs .nav-item {
    margin-bottom: 0;
}

html.clean-design:not(.dark) .nav-tabs li a {
    border: none !important;
    border-radius: 3px !important;
    font-size: 13px;
    color: #33BBFF;
    margin-right: 8px;
}

html.clean-design:not(.dark) body .tabs .nav-tabs li.active .nav-link {
    background: #5249A3;
    color: #FFF;
}

html.clean-design:not(.dark) .nav-tabs li .nav-link,
html.clean-design:not(.dark) .nav-tabs li .nav-link:hover {
    background: #FFFFFF;
}

.avatar-area .label {
    position: relative;
    cursor: pointer;
}

.avatar-area .progress {
    display: none;
    margin-bottom: 1rem;
    height: 21px;
}

.avatar-area .alert {
    display: none;
}

.avatar-area .btn-file {
    position: absolute;
    bottom: 0;
    width: 38px;
    height: 38px;
    right: 0;
    padding: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0;
    box-shadow: none !important;
    border-color: #00C9DF !important;
}

.modal-avatar .img-container img {
    max-width: 100%;
}

.modal-avatar .cropper-bg {
    overflow: hidden;
}

.avatar-area i.icon {
    display: block;
    margin-top: 5px;
    margin-right: 0;     
}

/*
 * CUSTOMIZE PNOTIFY
 */
.ui-pnotify .notification {
    border-radius: 10px;
}

.ui-pnotify .notification-danger {
    background-color: #D2322D;
}

.ui-pnotify .notification-success {
    background-color: #47A447;
}

.ui-pnotify-closer, 
.ui-pnotify-sticker,
.ui-pnotify .notification .ui-pnotify-icon,
.ui-pnotify .notification .ui-pnotify-title,
.ui-pnotify .notification .ui-pnotify-text {
    color: #FFFFFF;
}