/* =====================================================
 * GENERAL
 * ================================================== */
html.tbr_frontpage,
html.tbr_frontpage body {
    /* background-color: #F9F9fC; */
    background-color: #F3F3F6;
}

html.tbr_frontpage body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.78;
    letter-spacing: .4px;
    color: #70778B;
    overflow-y: scroll;
}

html.tbr_frontpage h1,
html.tbr_frontpage h2,
html.tbr_frontpage h3,
html.tbr_frontpage h4,
html.tbr_frontpage h5,
html.tbr_frontpage h6 {
    font-family: 'Poppins', sans-serif;
    color: #252C41;
    letter-spacing: .5px;
    font-weight: 600;
}

a {
    color: #22B9FF;
    text-decoration: none !important;
}

a:hover {
    color: #22B9FF;
}

header.tbr_main_header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-height: 79px;
    z-index: 1051;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
}

header.tbr_main_header .tbr_brand a {
    display: flex;
    min-height: 62px;
}

header.tbr_main_header .tbr_brand img {
    margin: auto auto auto 0;
}

header.tbr_main_header .tbr_right_content {
    display: flex;
    align-items: center;
    float: right;
    position: relative;
    min-width: 1120px;
}

@media only screen and (max-width: 992px) {
    header.tbr_main_header .tbr_right_content {
        display: none;
    }
}

header.tbr_main_header .tbr_right_content nav.tbr_main_menu {
    float: none;
    margin-right: 30px;
    margin-left: auto;
}

header.tbr_main_header .tbr_right_content .tbr_action_header {
    right: 0;
}

nav.tbr_main_menu ul {
    margin-bottom: 0;
}

nav.tbr_main_menu ul > li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

nav.tbr_main_menu ul > li > a {
    font-family: 'Poppins', sans-serif;
    color: #8A88A2;
    display: block;
    padding: 28px 18px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 13px;
}

nav.tbr_main_menu ul > li > a:hover:after,
nav.tbr_main_menu ul > li.active > a:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: #22B9FF;
}

nav.tbr_main_menu ul > li.active > a {
    color: #22B9FF;
}

nav.tbr_main_menu ul > li.tbr_search a {
    cursor: pointer;
}

nav.tbr_main_menu ul > li.tbr_search a:hover:after {
    display: none;
}

.btn {
    box-shadow:;
    outline: none !important;
    border: none !important;
    font-size: 13px;
    letter-spacing: .3px;
    padding: 0.47rem 0.75rem;
}

.btn.btn-primary {
    background-color: #22B9FF;
}

.btn.btn-primary:hover {
    background-color: #FF2152;
    box-shadow: 0 14px 26px -12px rgba(255, 33, 82, 0.42),
    0 4px 23px 0 rgba(0,0,0,.12),
    0 8px 10px -5px rgba(255, 33, 82, 0.2) !important;
}

.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: #FF2152 !important;
    box-shadow: none !important;
}

.btn.btn-purple {
    background-color: #514A9D;
    color: #FFFFFF;
}

.btn.btn-purple:hover {
    background-color: #FF2152;
    box-shadow: 0 14px 26px -12px rgba(255, 33, 82, 0.42),
    0 4px 23px 0 rgba(0,0,0,.12),
    0 8px 10px -5px rgba(255, 33, 82, 0.2) !important;
}

.btn.btn-purple:focus,
.btn.btn-purple:active {
    background-color: #FF2152 !important;
    box-shadow: none !important;
}

i.icon {
    margin-right: 5px;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item a.active {
    color: #959CB6;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    color: #868e96;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #DBDCE7;
    padding: 0;
    margin: 0 10px;
    vertical-align: middle;
}

html .tbr_modal_search .modal-dialog {
    position: absolute;
    right: 0;
    left: 0;
    max-width: 100%; 
    margin: 0;
}

html .tbr_modal_search .modal-dialog .modal-content {
    border: none;
    border-radius: 0;
    padding: 30px 30px 35px;
}

@media only screen and (max-width: 992px) {
    html .tbr_modal_search .modal-dialog {
        margin-top: 0;
    }
}

.tbr_modal_search input {
    font-size: 25px;
    font-weight: 300;
    border: none;
    box-shadow: none !important;
    outline: none !important;
    color: #70778B;
}

.tbr_modal_search .input-group-append {
    position: relative;
    width: 40px;
    height: 49px;
    padding: 10px 1px;
    font-size: 30px;
    margin-top: 2px;
}

@media only screen and (max-width: 768px) {
    .tbr_modal_search input {
        font-size: 17px;
    }

    html .tbr_modal_search .modal-dialog .modal-content {
        padding: 38px 22px 30px;
    }

    .tbr_modal_search .input-group-append {
        font-size: 20px;
    }
}

.tbr_pagination .page-item .page-link {
    background: transparent;
    border: none;
    color: #70778B;
    padding: 13px 16px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none !important;
    outline: none !important;
}

.tbr_pagination .page-item:not(.active) .page-link:hover {
    color: #959CB6;
}

.tbr_pagination .page-item:not(:first-child):not(:last-child) .page-link {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 3px;
}

.tbr_pagination .page-item.active .page-link {
    background-color: #FF2152 !important;
    color: #FFFFFF;
    font-weight: 700;
}

.tbr_btn_group .btn-default {
    background: #FFFFFF;
    border: 2px solid #DFE1E6 !important;
    margin-right: -1px;
    box-shadow: none !important;
}

.tbr_btn_group .btn-default:hover,
.tbr_btn_group .btn-default:focus,
.tbr_btn_group .btn-default:active {
    background-color: #F9F9FC;
}

.tbr_all_item {
    min-width: 100px;
}

.tbr_business_mega_tab_content {
    background-color: transparent;
    padding-top: 30px;
}

.tbr_business_list_detail {
    padding: 0;
    margin: 0;
}

.tbr_business_list_detail li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #F3F3F6;
}

.tbr_business_list_detail li:last-child {
    border-bottom: none;
}

.tbr_business_list_detail .tbr_icon {
    width: 50px;
    height: 50px;
    background-color: #F3F3F6;
    border-radius: 50px;
    display: flex;
    float: left;
    margin-right: 25px;
}

.tbr_business_list_detail .tbr_icon i.icon {
    margin: auto;
    font-size: 18px;
}

.tbr_business_list_detail .tbr_meta span {
    display: block;
}

.tbr_business_list_detail .tbr_meta span:first-child {
    color: #959CB6;
    font-size: 13px;
}

.modal-backdrop {
    z-index: 1052; 
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.modal { 
    z-index: 1053; 
}

.modal,
.modal.show { padding-right: 0 !important; }

.modal .modal-content {
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
}

.modal .modal-content .modal-body {
    padding: 40px;
}

.tbr_zi__1::before { z-index: -1 !important; }
.tbr_zi__1::after { z-index: -1 !important; }

.tbr_color_blue { color: #22B9FF !important; }
.tbr_color_purple { color: #514A9D !important; }
.tbr_color_rose { color: #FF2152 !important; }
.tbr_color_grey { color: #70778B !important; }
.tbr_color_green { color: #76CE44 !important; }

::-moz-selection {
    background-color: #22B9FF;
    color: #FFFFFF;
 }
 
::selection {
    background-color: #22B9FF;
    color: #FFFFFF;
}


/* =====================================================
 * PAGES
 * ================================================== */
section.tbr_page_heading {
    position: relative;
    width: 100%;
    background-color: #F9F9FC;
    text-align: center;
    padding: 30px 0 20px;
}

section.tbr_business_search {
    position: relative;
    width: 100%;
    background-image: url('../../assets/images/coming_soon_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #FFFFFF;
}

@media only screen and (min-width: 992px) {
    section.tbr_business_search {
        background-position-y: -306px;
    }

    section.tbr_business_search .input-group {
        max-width: 80%;
        margin: auto;
    }
}

section.tbr_business_search_sm {
    padding: 35px 0;
}

section.tbr_business_search::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
}

.tbr_business_search input.form-control {
    border: none;
    box-shadow: none;
    border-radius: 50px !important;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 1);
    font-weight: 300;
    min-height: 60px;
}

.tbr_business_search .input-group-append {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 9;
}

.tbr_business_search .input-group-append .btn {
    height: 54px;
    min-width: 125px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.tbr_business_search .help-block {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.tbr_business_search .tbr_sc_overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(to top,rgba(18,17,19,0) 10%,rgba(81, 74, 157, 1) 100%);
}

/* .tbr_business_search .tbr_sc_overlay::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
    background-image: linear-gradient(to bottom,rgba(18,17,19,0) 10%,rgb(81, 74, 157) 100%);
} */

@media only screen and (max-width: 768px) {
    .tbr_business_search .input-group-append .btn {
        width: 54px;
        height: 54px;
        padding: 19px;
        min-width: inherit;
    }

    .tbr_business_search .input-group-append .btn i.icon {
        margin-right: 0;
    }

    .tbr_business_search .input-group-append .btn span {
        display: none;
    }

    .tbr_business_search input.form-control {
        font-size: 17px;
    }
}

section.tbr_business_directory {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #F3F3F6;
    padding-top: 30px;
}

section.tbr_business_directory .tbr_filter_business {
    position: relative;
    display: block;
    float: left;
    max-width: 300px;
    width: 100%;
    height: auto;
    background-color: transparent;
    transition: all 0.3s;
}

section.tbr_business_directory .tbr_wrap_business {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: transparent;
}

@media only screen and (max-width: 362px) {
    section.tbr_business_directory .tbr_wrap_business {
        overflow-x: hidden;
    }
}

.tbr_card {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: none;
    margin-bottom: 30px;
}

.tbr_card p:last-child {
    margin-bottom: 0;
}

.tbr_card.tbr_card_shadow::after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    z-index: 0;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 10px 14px 0 rgba(37,44,65,.08);
    transition: all .3s ease;
}

.tbr_card .tbr_card_body {
    position: relative;
    display: block;
    padding: 20px;
    background-color: #FFFFFF;
    z-index: 1;
}

.tbr_card .tbr_img_overflow {
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}

.tbr_card .tbr_card_feature_img {
    position: relative;
    display: block;
    width: 100%;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    transition: all .6s ease;
    will-change: transform;
}

.tbr_card:hover .tbr_card_feature_img {
    transform: scale(1.1);
    transition: all .6s ease;
    will-change: transform;
}

.tbr_card .tbr_card_feature_img a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 9;
    background-image: linear-gradient(to top,rgba(18,17,19,0) 10%,rgba(18,17,19,.35) 100%);
}

.tbr_card .tbr_card_feature_img a::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: linear-gradient(to bottom,transparent 0,rgba(18,17,19,.2) 60%,#121113 100%);
}

.tbr_card .tbr_card_feature_img img {
    display: none;
}

.tbr_card .tbr_company_logo {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    overflow: hidden;
    top: -25px;
}

.tbr_card .tbr_company_logo img {
    width: 100%;
}

.tbr_card .tbr_card_title {
    margin-top: 15px;
    color: #252C41;
    font-size: 16px;
}

.tbr_card .tbr_card_subtitle {
    margin-bottom: 5px;
    color: #959CB6;
}

.tbr_card .tbr_card_meta p {
    margin-bottom: 0;
    font-size: 13.5px;
    color: #959CB6;
}

.tbr_card .tbr_card_meta i.icon {
    color: #FF2152;
}

.tbr_card .tbr_card_footer {
    position: relative;
    display: flex;
    padding: 10px 20px;
    border-top: 1px solid #F3F3F6;
    background-color: #FFFFFF;
    z-index: 1;
}

.tbr_card .tbr_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
}

.tbr_card .tbr_business_owner {
    margin-left: 15px;
    padding: 3px 0;
    width: calc(100% - 135px);
    display: inline-block;
}

.tbr_card .tbr_business_owner p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 22px;
}

.tbr_card .tbr_business_owner p:last-child {
    color: #959CB6;
}

.tbr_card .tbr_card_footer .btn {
    float: right;
    margin: auto 0 auto auto;
}

.tbr_card.tbr_card_landscape .tbr_card_feature_img {
    min-height: 140px;
}

.tbr_business_feature_image {
    position: relative;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tbr_overlay_feature_image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 9;
    background-image: linear-gradient(to top,rgba(18,17,19,0) 10%,rgba(18,17,19,.35) 100%);
}

.tbr_overlay_feature_image::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: linear-gradient(to bottom,transparent 0,rgba(18,17,19,.2) 60%,#121113 100%);
}

.tbr_business_content_top {
    position: relative;
    display: block;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid #F3F3F6;
    background: #FFFFFF;
}

.tbr_business_content_top .tbr_business_logo {
    float: left;
    margin-top: -90px;
    margin-right: 20px;
}

.tbr_business_content_top .tbr_business_logo img {
    width: 140px;
    height: 140px;
    border-radius: 140px;
}

.tbr_business_content_top .tbr_business_title {
    font-size: 20px;
    margin-bottom: 5px;
}

.tbr_business_content_top .tbr_sites {
    text-align: right;
}

.tbr_business_content_top .tbr_sites a {
    color: #70778B;
}

.tbr_business_content_top .tbr_sites a:hover {
    color: #959CB6;
}

.tbr_business_content_top .tbr_sites i.icon {
    color: #FF2152;
}

.tbr_business_content_top .breadcrumb {
    float: right;
    padding: 0;
}

@media only screen and (max-width: 992px) {
    .tbr_business_content_top .tbr_business_logo {
        float: none;
        text-align: center;
        margin-top: -58px;
        margin-right: 0;
    }

    .tbr_business_content_top .tbr_business_logo img {
        width: 80px;
        height: 80px;
    }

    .tbr_business_content_top .tbr_business_name {
        padding: 10px 0;
    }

    .tbr_business_content_top .tbr_sites {
        text-align-last: center;
    }

    .tbr_business_name {
        text-align: center;
    }

    .tbr_business_content_top .breadcrumb {
        float: none;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
}

.tbr_business_mega_tab {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F3F3F6;
}

.tbr_business_mega_tab .nav-tabs .nav-link,
.tbr_business_mega_tab .nav-tabs {
    border: none;
}

.tbr_business_mega_tab .nav-tabs .nav-link {
    position: relative;
    padding: 20px 30px 22px;
    color: #70778B;
}

.tbr_business_mega_tab .nav-tabs .nav-link.active {
    color: #FF2152;
}

.tbr_business_mega_tab .nav-tabs .nav-link.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #FF2152;
}

.tbr_business_mega_tab_content .tbr_card .tbr_card_feature_img {
    min-height: 350px;
}

.tbr_person_statistic {
    width: 100%;
}

.tbr_person_statistic .tbr_count {
    width: 45px;
    height: 45px;
    position: absolute;
    right: -5px;
    background-color: #ffffff;
    top: -10px;
    padding: 9px 15px;
    text-align: center;
    color: #FF2152;
    font-weight: 700;
    font-size: 16px;
}

.tbr_coming_soon_wrap {
    position: relative;
    display: block;
    padding: 100px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.tbr_coming_soon_wrap .tbr_sc_overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
    background-image: linear-gradient(to top,rgba(18,17,19,0) 10%,rgba(36, 198, 220, 0.48) 100%);
}

.tbr_coming_soon_wrap .tbr_sc_overlay::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(to bottom,transparent 0,rgba(81, 74, 157, 0.8) 60%,rgb(81, 74, 157) 100%);
}

.tbr_coming_soon_wrap .tbr_sc_content {
    text-align: center;
    margin: auto;
}

.tbr_coming_soon_wrap .tbr_sc_heading {
    font-size: 68px;
    color: #FFFFFF;
}

.tbr_coming_soon_wrap .tbr_sc_content {
    color: #FFFFFF;
}

.tbr_coming_soon_wrap .tbr_sc_content p {
    font-size: 16px;
}

.tbr_coming_soon_wrap .tbr_sc_content .input-group {
    max-width: 50%;
    margin: 50px auto 50px;
}

.tbr_advanced_form_control input.form-control {
    border: none;
    box-shadow: none;
    border-radius: 50px !important;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 1);
    font-weight: 300;
    min-height: 60px;
}

.tbr_advanced_form_control .input-group-append {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 9;
}

.tbr_advanced_form_control .input-group-append .btn {
    height: 54px;
    min-width: 125px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .tbr_coming_soon_wrap .tbr_sc_heading {
        font-size: 40px;
    }

    .tbr_coming_soon_wrap .tbr_sc_content p {
        font-size: 15px;
    }

    .tbr_coming_soon_wrap .tbr_sc_content .input-group {
        max-width: 100%;
    }

    .tbr_advanced_form_control .input-group-append .btn {
        width: 54px;
        height: 54px;
        padding: 19px;
        min-width: inherit;
    }

    .tbr_advanced_form_control .input-group-append span {
        display: none;
    }

    .tbr_advanced_form_control .input-group-append i.icon {
        margin-right: 0;
    }
}

section.tbr_business_result {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #F3F3F6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tbr_r_found_heading {
    text-align: left;
    padding: 30px 0 20px;
}

section.tbr_cover_page {
    position: relative;
    display: block;
    padding: 110px 0 120px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
}

section.tbr_cover_page .tbr_sc_overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(to top,rgba(18,17,19,0) 10%,hsl(244, 34%, 47%) 100%);
}

section.tbr_cover_page .tbr_sc_overlay::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
    background-image: linear-gradient(to bottom,rgba(18,17,19,0) 10%,rgba(81, 74, 157, 100) 100%);
}

section.tbr_list_card {
    background-color: #F3F3F6;
    padding-top: 50px;
    padding-bottom: 20px;
}

section.tbr_donate_section h1 {
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 0em 0.1em 0.6em #544EA0!important;
}

section.tbr_donate_section .tbr_sc_subheading {
    color: #FFFFFF;
    font-size: 16px;
}

section.tbr_donate_section.tbr_full_height {
    min-height: calc(100vh - 79px);
}

section.tbr_donate_section .btn {
    padding: 16px 28px;
    font-size: 16px;
    margin-top: 40px;
}

@media only screen and (max-width: 768px) {
    section.tbr_donate_section h1,
    .tbr_homescreen_v02 section.tbr_donate_list h2 {
        font-size: 25px;
        line-height: 32px;
    }

    section.tbr_donate_section .tbr_sc_subheading {
        font-size: 16px;
        line-height: 24px;
    }
}

section.tbr_donate_list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 60px 0 30px;
}

.tbr_card.tbr_card_collapse {
    margin-bottom: 30px !important;
}

.tbr_card_collapse .card-body {
    display: flex;
}

.tbr_card_collapse .card-body p {
    margin-bottom: 0;
}

.tbr_card_collapse .tbr_card_icon i.icon {
    color: #22B8FE;
    font-size: 65px;
    margin-right: 20px;
}

.tbr_card_collapse {
    border-radius: 0 0 0 0;
    margin-bottom: 0px!important;
    padding: 0;
    border-radius: 10px;
    background-color: #FDFDFD;
}

.tbr_card_collapse .tbr_button_collapse {
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
    margin-bottom: 1.25rem;
    cursor: pointer;
    font-weight: 500;
}

.tbr_card_collapse .collapse {
    background-color: transparent;
    position: relative;
    z-index: 2;
    border-radius: 0 0 10px 10px;
}

.tbr_card_collapse .collapse.show .tbr_desc {
    margin-bottom: 1.25rem;
}

.tbr_card_collapse .collapse .tbr_desc p {
    margin-bottom: 0;
}

.tbr_card_collapse .tbr_collapsible_area {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 70px 0px rgba(110,130,208,0.18)!important;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 1.25rem 1.25rem 0;
}

.tbr_card_collapse .tbr_right_content .tbr_right_title {
    position: relative;
    display: block;
    color: #252C41;
    font-size: 16px;
    margin-bottom: 10px;
}

.tbr_homescreen_v02 section.tbr_donate_section h1 {
    font-size: 28px;
}

.tbr_homescreen_v02 section.tbr_donate_section .btn {
    margin-top: 30px;
}

.tbr_homescreen_v02 section.tbr_donate_list i.icon {
    font-size: 50px;
}

.tbr_homescreen_v02 section.tbr_donate_list h2 {
    position: relative;
    display: block;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

/* @media only screen and (min-width: 1200px) { */
    .tbr_homescreen_v02 section.tbr_donate_section {
        /* height: calc(100vh - 79px); */
        padding-top: 60px;
        padding-bottom: 0;
    }

    .tbr_homescreen_v02 section.tbr_donate_list {
        /* margin-top: -285px; */
        /* padding-top: 0; */
        padding-top: 72px;
        padding-bottom: 0;
        text-align: initial;
    }
/* } */

.tbr_register_is_coming_soon {
    padding: 50px 0 20px;
}

.tbr_register_is_coming_soon .card-body {
    padding: 53px 30px 60px;
}

.tbr_register_is_coming_soon .action .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.tbr_register_is_coming_soon .card-body img {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .tbr_register_is_coming_soon .card-body img {
        margin-bottom: 50   px;
    }
}

.tbr_card_icon img {
    margin-top: -8px;
    margin-right: 18px;
}

.tbr_fill_width_map iframe {
    width: 100% !important;
    border-radius: 3px;
}

/* =====================================================
 * FOOTER
 * ================================================== */
footer.tbr_footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: #FFFFFF;
}

footer .tbr_footer_widget {
    padding: 55px 0 0;
    color: #959CB6;
    border-bottom: 1px solid #ECECF0;
}

footer .tbr_company_info {
    padding: 40px;
}

footer .tbr_company_info p {
    margin-bottom: 0;
    color: #959CB6;
}

footer .tbr_company_info a {
    color: #959CB6;
}

footer .tbr_list_social_icon {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    footer .tbr_list_social_icon {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: -4px;
    }
}

footer .tbr_list_social_icon li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

footer .tbr_list_social_icon li:first-child {
    margin-left: 0;
}

footer .tbr_list_social_icon li a {
    display: block;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    footer .tbr_company_info {
        text-align: center;
    }

    footer .tbr_list_social_icon {
        margin-top: 10px;
    }
}

footer .tbr_widget {
    margin-bottom: 50px;
}

footer .tbr_widget .tbr_widget_title {
    font-size: 16px;
    margin-bottom: 20px;
}

footer .tbr_widget_statistic img {
    display: block;
    margin-bottom: 10px;
}

footer .tbr_widget_statistic i.icon {
    font-size: 28px;
    float: left;
    opacity: .5;
}

footer .tbr_statistic_list {
    border-bottom: 1px solid #F3F3F6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

footer .tbr_statistic_list:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

footer .tbr_widget_statistic span {
    display: block;
}

footer .tbr_widget_statistic span:first-child {
    font-size: 16px;
    font-weight: 500;
}

footer .tbr_statistic_item {
    margin-left: 42px;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style-type: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

footer ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

footer ul li a {
    color: #959CB6;
}

/* =====================================================
 * NAVIGATION DRAWER
 * ================================================== */
html.tbr_frontpage .tbr_wrapper {
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 79px;
    right: 0;
}

@media only screen and (max-width: 992px) {
    html.tbr_frontpage .tbr_wrapper {
        top: 62px;
    }
}

.tbr_drawer_overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1052;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.tbr_drawer_overlay.active {
    display: block;
    opacity: 1;
}

.tbr_nav_drawer {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 1053;
    background: #FFFFFF;
    transition: all 0.3s;
    overflow-y: hidden;
    -webkit-box-shadow: 13px -2px 17px -12px rgba(41, 50, 66, 0.1);
    box-shadow: 13px -2px 17px -12px rgba(41, 50, 66, 0.1);
}

.tbr_nav_drawer .tbr_nav_drawer_scroller {
    height: calc(100vh - 49px);
    overflow-y: auto;
}

.tbr_nav_drawer .tbr_nd_header {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ECECF0;
    padding: 20px;
    text-align: center;
}

.tbr_nav_drawer .tbr_nd_header .tbr_brand {
    margin-bottom: 20px;
    min-height: 62px;
}

.tbr_nav_drawer ul.tbr_mobile_main_menu {
    padding: 0;
    margin: 0;
}

.tbr_nav_drawer ul.tbr_mobile_main_menu > li {
    list-style-type: none;
}

.tbr_nav_drawer ul.tbr_mobile_main_menu > li > a {
    font-family: 'Poppins', sans-serif;
    color: #8A88A2;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 13px;
    border-bottom: 1px solid #ECECF0;
}

.tbr_nav_drawer ul.tbr_mobile_main_menu > li > a:hover,
.tbr_nav_drawer ul.tbr_mobile_main_menu > li.active > a {
    color: #22B9FF;
}

.tbr_nav_drawer .tbr_nd_footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 13px 20px 9px;
    background-color: #FFFFFF;
    border-top: 1px solid #ECECF0;
}

.tbr_nav_drawer .tbr_nd_footer ul {
    padding: 0;
    margin: 0;
}

.tbr_nav_drawer .tbr_nd_footer ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

.tbr_nav_drawer .tbr_nd_footer ul li:last-child {
    margin-right: 0;
}

.tbr_nav_drawer .tbr_nd_footer ul li a {
    color: #959CB6;
    font-size: 16px;
}

.tbr_nav_drawer.active {
    left: 0;
}

.tbr_action_mobile {
    float: right;
}

.tbr_action_mobile .tbr_search {
    margin-right: 10px;
}

.tbr_action_mobile .tbr_search i.icon {
    margin: 0;
}

@media only screen and (min-width: 992px) {
    .tbr_action_mobile {
        display: none;
    }
}

/* =====================================================
 * BUSINESS FILTER
 * ================================================== */
@media only screen and (max-width: 992px) {
    section.tbr_business_directory .tbr_filter_business {
        position: fixed;
        width: 300px;
        top: 0;
        right: auto;
        left: -300px;
        background-color: #FFFFFF;
        z-index: 1053;
        height: 100vh;
        overflow: auto;
    }

    section.tbr_business_directory .tbr_filter_business.active {
        left: 0;
    }
}

aside.tbr_filter_aside {
    position: relative;
    display: block;
    padding: 0 15px;
}

.tbr_open_mobile_filter,
aside .tbr_b_filter_heading {
    font-size: 16px;
    color: #FFFFFF !important;
    background-image: linear-gradient( 
        90deg, 
        #30BFD8, #5249A3 
    );
    padding: 12px 15px;
    border-radius: 3px;
    margin-bottom: 30px;
}

aside .tbr_b_filter_title {
    border-bottom: 1px solid #DFE1E6;
    padding-bottom: 10px;
}

aside .tbr_b_filter_location {
    margin-bottom: 30px;
}

aside .tbr_list_category .custom-control {
    margin-bottom: 15px;
}

aside .tbr_list_category {
    position: relative;
    display: block;
    max-height: 550px;
    overflow: auto;
}

.tbr_open_mobile_filter {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    aside.tbr_filter_aside {
        padding: 15px !important;
    }

    aside .tbr_list_category {
        max-height: auto;
        overflow: hidden;
    }
}

/* =====================================================
 * CUSTOMIZE SELECT2
 * ================================================== */
.select2-container--bootstrap .select2-selection--single {
    background: #FFFFFF;
    border-color: #F0F2F4;
    box-shadow: none;
    border: 2px solid #DFE1E6;
    height: 41px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 9px 15px;
}

.select2-container--bootstrap .select2-selection--single:hover {
	border: 2px solid #33BBFF;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    box-shadow: none;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: none;
}

.select2-container--bootstrap .select2-dropdown {
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
    margin-top: -41px;
}

.select2-container--bootstrap .select2-dropdown--above {
	margin-top: -10px;
}

.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-color: #33BBFF;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #33BBFF;
}

.select2-container--bootstrap .select2-results__option {
    padding: 10px 12px;
}

.modal-block .select2-container {
    width: 100% !important;
}

.select2-container--bootstrap.select2-container--open {
    z-index: 1053;
}

/* =====================================================
 * CUSTOMIZE CHECKBOX
 * ================================================== */
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #22B9FF;
    background-color: #22B9FF;
}

.custom-control-label::before {
    border: #DFE1E6 solid 1px;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 2px;
}